body {
  background-image: url("../images/londonbackground2.jpg");
  background-size: 1400px 1000px;
  background-attachment: fixed;
  font-family: 'Rokkitt', serif;
}

h3 {
  margin-top: 0px;
}

#main-app {
  background-color: white;
  width: 30%;
  height: 90%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border-radius: 25px;
}

#header {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}

#location-input {
  text-align: center;
}

#app-info {
  text-align: center;
  position: absolute;
  margin: auto;
  left: 0;
  bottom: 15;
  right: 0;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  font-family: 'Rokkitt', serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: black;
  border: none;
  border-radius: 15px;
}

.button:hover {background-color: grey}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
